{% extends "questions/base.html" %}
{% load static %}
{% block add_spec_css %}
    <link href="{% static "questions/css/question.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}

      <div class="col-md-8 navbar-fixed-left">
        <div class="form-group row">
          <!-- Левая часть плитки -->
          <div class="col-md-3 media">
            <!-- <br> -->
            <a class="navbar-fixed-left">
              <img class="media-object" src="{% static "questions/img/man.jpg" %}" width="200" height="200">
            </a>
              <a>{{ question.asker_id.username }}<a>
            <div class="group like-area">
                <div class="btn-group-vertical">
                    <likes>
                            {{ question.question_like.count }}
                    </likes>
                </div>
                  <!-- Like / Dislike-->
                  <div class="btn-group-vertical">
                    <button type="button" class="btn btn-default">
                      <img src="{% static "questions/img/caret-top-2x.png" %}">
                    </button>
                    <button type="button" class="btn btn-default">
                        <img src="{% static "questions/img/caret-bottom-2x.png" %}">
                    </button>
                  </div>
                </div>
          </div>
          <!-- Текст вопроса -->
          <div class="col-md-9">
            <h2>{{ question.title }}</h2>
            <blockquote>
              <p>{{ question.text }}</p>
            </blockquote>
              <div class="row feedback-and-tags">
                  <div class="col-md-2">
                    <p>answers({{ question.answers.count }})</p>
                  </div>
                  <div class="col-md-10">
                      <text>Tags:</text>
                      {% for tag in question.Tags.all %}
                        <a href="#" style="background-color: #e0e0df">{{ tag.tag_name }}</a>
                      {% endfor %}
                  </div>
              </div>
          </div>
        </div>
        <br>

        <!-- Начало плитки ответа -->
          {% for answer in question.answers.all %}
                    <div class="panel panel-default block-answer">
                      <div class="form-group row">
                        <!-- Левая часть плитки -->
                        <div class="col-md-3 media">
                          <!-- <br> -->
                          <a class="navbar-fixed-left">
                            <img class="media-object" src="{% static "questions/img/man.jpg" %}" width="150" height="150">
                          </a>
                            <a>{{ answer.authtor_id }}</a>
                          <div class="group">
                              <div class="btn-group-vertical">
                                <likes>
                                        {{ answer.answer_like.count }}
                                </likes>
                              </div>
                              <!-- Like / Dislike-->
                              <div class="btn-group-vertical">
                                <button type="button" class="btn btn-default">
                                  <img src="{% static "questions/img/caret-top-2x.png" %}">
                                </button>
                                <button type="button" class="btn btn-default">
                                  <img src="{% static "questions/img/caret-bottom-2x.png" %}">
                                </button>
                              </div>
                            </div>
                        </div>
                        <!-- Текст ответа -->
                        <div class="col-md-9">
                          <blockquote>
                            <p>{{ answer.text }}</p>
                          </blockquote>
                          <!--<div class="form-check checkbox-area">-->
                            <!--<input class="form-check-input" type="checkbox">-->
                            <!--<label class="form-check-label">Correct!</label>-->
                          <!--</div>-->
                        </div>
                      </div>
                    </div>
                    <br>
          {% endfor %}
        <!-- Добавить свой ответ -->
          <textarea class="form-control" rows="6" placeholder="Answer"></textarea>
          <br>
          <button type="button" class="btn btn-success">Send</button>

      </div>
{% endblock %}